{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  User has been removed.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

 <div class="col-6 d-flex justify-content-end">
    <a href="/view" type="button" class="btn btn-primary align-self-center">permission</a>
  </div>